.DS_Store
# Compiled class file
*.class
*.pyc

#swp files
*.swp

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

#node modules
node_modules/
.venv/
old/
data_deprecated/

#ignore la-fitness bot
la-fitness-master/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.venv/lib64
.venv/pyvenv.cfg
gui_test.py
es_hyperneat_xor.py
config_cppn_xor
test_neat.py
test0.py
test1.py
test2.py
test.ipynb
tests.ipynb
